<?xml version="1.0" encoding="UTF-8" ?>
<odoo>


    <menuitem id="menu_hospital_root"
              name="Hospital"
              web_icon="om_hospital,static/description/icon1.png"
              sequence="0"/>
    <menuitem id="menu_Patient_master"
              name="Patient_details"
              parent="menu_hospital_root"
              sequence="0"/>
    <menuitem id="menu_appointment_master"
              name="appointment_details"
              parent="menu_hospital_root"
              sequence="0"/>
    <menuitem id="menu_configuration"
              name="configuration"
              parent="menu_hospital_root"
              sequence="20"/>
    <menuitem
            id="menu_cancellation"
            name="cancellation"
            action="action_cancel_appointment"
            parent="menu_appointment_master"
            sequence="110"/>

</odoo>